/* color palette from <https://github.com/vuejs/theme> */
:root {
  --bacground-color-body:rgb(64, 84, 113);
  --primary-color:rgb(66, 73, 84);
  --white-primary:#fff;
  --text-color-light: rgb(249, 246, 246);
  --text-color-dark:rgb(81, 88, 94);
  --text-color-semi-dark:#2c3e50;
  --bottom-border: #cfcfcf;
  --arrow-color:#51585e;
  --arrow-color-hover:#1cb88b;
/*background colors za sve segmente*/
--background-education:rgb(192, 243, 255);
--background-references:rgb(24, 129, 204);
--background-skills:rgb(137, 69, 205);
--background-work-experience:rgb(243, 140, 6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
